body{
    text-align: center;
    border: thick solid black;
    padding: 5px;
}

header{

}

footer{

}

#image1 {
    display: block;
    margin: auto;
    width: 100%;
    height: 300px;
}

#image2 {
    display: block;
    margin: auto;
    width: 100%;
    height: 300px;
}


#image2 {
    display: block;
    margin: auto;
    width: 30%;
    height: 300px;
}

#ul {
    list-style-position: inside; 
    text-align: center; 
    padding: 0; 
  }

  
#li {
    margin: 10px 0; 
  }