<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles/ui.css">
    <link rel="stylesheet" href="styles/about.css">
</head>

<body>
    <header class="header">
        <h1 class="header__title">Tradecard</h1>
        <nav class="header__nav">
            <ul class="header__menu">
                <li><a href="/home" class="header__link">Home</a></li>
                <li><a href="/about" class="header__link active">About</a></li>
                <li><a href="/contact" class="header__link">Contact</a></li>
                <li><a href="/cards" class="header__link">Cards</a></li>
                <li class="nav-border" id="memberNav"></li>
            </ul>
        </nav>
    </header>

    <main class="main about">
        <section class="intro_about">
            <h2 class="intro__title_about">Welcome to Tradecard - Your Ultimate Trading Card Community</h2>
            <p class="intro__description_about">At Tradecard, we've created a vibrant online platform tailored specifically for trading card game enthusiasts. Whether you're a seasoned collector or just starting out, Tradecard offers a comprehensive suite of features to enhance your trading card experience.</p>
            <h3 class="section__subtitle_about">For All Users:</h3>
            <ul class="feature-list_about">
                <li>Explore a Vast Collection</li>
                <li>Discover New Cards</li>
                <li>Engage with the Community</li>
            </ul>
            <h3 class="section__subtitle_about">For Members:</h3>
            <ul class="feature-list_about">
                <li>Create Collections</li>
                <li>Interact with Collections</li>
                <li>Personalize Your Experience</li>
            </ul>
            <p class="join-message_about">Join Tradecard today and become part of a thriving community passionate about trading cards!</p>
        </section>
    </main>

    <footer>
        <p class="footer__text">&copy; 2024 Tradecard. All rights reserved.</p>
        <a href="mailto:tradecardproject@gmail.com" class="footer__email">Email us</a>
    </footer>

    <script src="scripts/about.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>