<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/ui.css">
</head>

<body>
    <header class="header">
        <h1 class="header__title">Tradecard</h1>
        <nav class="header__nav">
            <ul class="header__menu">
                <li><a href="/home" class="header__link">Home</a></li>
                <li><a href="/about" class="header__link">About</a></li>
                <li><a href="/contact" class="header__link">Contact</a></li>
                <li><a href="/cards" class="header__link">Cards</a></li>
                <li class="nav-border" id="memberNav"> 
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">

        <section class="intro">
            <h2 class="intro__title">Welcome to Tradecard</h2>
            <p class="intro__description">Tradecard is the ultimate platform for trading card game enthusiasts. Browse, share, and trade your favorite collections with like-minded collectors from around the world.</p>
            <a href="/signUp" class="button intro__button">Sign up</a>
            <a href="/login" class="button intro__button">Log in</a>
        </section>

        <h2 class="collections__title-home">Featured Collections</h2>

        <section class="collections-home">
            <div class="collection-home">
                <h3 class="collection__title-home">Collection Name</h3>
                <p class="collection__description-home">Description of the collection...</p>
                <a href="#" class="button collection__button">View Collection</a>
            </div>
            <div class="collection-home">
                <h3 class="collection__title-home">Collection Name</h3>
                <p class="collection__description-home">Description of the collection...</p>
                <a href="#" class="button collection__button">View Collection</a>
            </div>
            
        </section>
    </main>

    <footer>
        <p class="footer__text">&copy; 2024 Tradecard. All rights reserved.</p>
        <a href="mailto:tradecardproject@gmail.com" class="footer__email">Email us</a>
    </footer>

    <script src="scripts/home.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>